body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: Arial, sans-serif;
}
 
  .navbar {
    display: flex;
    justify-content: space-between; /* Make sure the navigation is aligned on both sides */
    align-items: center;
    background-color: #333;
    color: white;
    padding: 0 20px;
  }
  
  .navbar .menu-container {
    display: flex;
    justify-content: start; /* Make sure the menu is left aligned in this container */
    flex-grow: 1; /* Make the menu container take up available space */
    margin-right: auto; /* Make sure the button is aligned to the right */
  }
  
  .menu {
    display: flex;
    list-style-type: none; /* Remove point style from ul */
    padding-left: 0; /* Remove default indentation of ul */
  }
  .navbar a {
    color: white;
    text-decoration: none;
    padding: 14px 20px;
  }
  
  .navbar a:hover {
    background-color: #ddd;
    color: black;
  }
  
  .logo {
    font-size: 24px;
    font-weight: bold;
  }
  
  .login-button {
    padding: 10px 20px;
    background-color: #5C5C5C;
    color: white;
    text-decoration: none;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .login-button:hover {
    background-color: #777777;
  }




/* ...hero css... */
.hero {
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.hero-inner {
  color: white;
  padding: 20px;
  max-width: 600px;
}

.hero-inner h1, .hero-inner p {
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.hero h1 {
  font-size: 3rem;
  margin-bottom: 20px;

}

.hero p {
  font-size: 1.5rem;
  margin-bottom: 30px;
}
 
  .btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: #0056b3;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
  }
  
  .btn:hover {
    background-color: #003974;
  }
  
  /* ...end of hero css... */
  

/* ...services css... */

.services {
  background-color: #f9f9f9;
  padding: 40px 20px;
  text-align: center; /* Center aligns the headline */
}

.services-headline {
  margin-bottom: 40px; /* Adjust as needed for spacing */
  /* Additional styling for the headline */
  font-size: 2em;
  color: #333;
}

.services-container {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
  
  .service-item {
    flex-basis: 30%;
    text-align: center;
    margin: 10px;
    padding: 20px;
    background-color: white;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }

  .service-item img {
    max-width: 100%;
    height: 400px;
    display: block;
    margin: 0 auto 20px;
  }
  
  .service-item h2 {
    margin: 0 0 10px 0;
  }
  
  .service-item p {
    color: #666;
  }


/* ...end of services css... */

/* ...processes... */

.how-we-work {
  text-align: center;
  padding: 40px;
  background-color: #f4f4f4;
}

.how-we-work h2 {
  margin-bottom: 30px;
  font-size: 2.5em;
  color: #333;
}

.steps-wrapper {
  display: flex;
  justify-content: space-around;
  align-items: stretch; /* Align items vertically */
}

.step {
  flex-basis: 30%; /* Adjust based on container size */
  height: 180px; /* Fixed height */
  text-align: center;
  padding: 20px;
  margin: 10px;
  border: 1px solid #ddd; /* Visual separation */
  background-color: #fff;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  justify-content: space-between; /* Distribute space evenly */
}

.step h3 {
  color: #333;
  font-size: 1.5em;
  margin-bottom: 10px;
}

.step p {
  font-size: 1em;
  color: #666;
  line-height: 1.4;
}

/* ...processes... */

/* ...about css... */
.about-us {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 40px;
  background-color: #f9f9f9;
}

.about-container {
  max-width: 1200px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.team-photo {
  flex: 1;
  padding-right: 20px; /* Adds some space between image and text */
}

.team-photo img {
  width: 100%;
  height: auto;
  border-radius: 10px; /* Optional: for rounded corners */
}

.about-text {
  flex: 2;
  padding-left: 20px; /* Adds some space between text and image */
}

.about-text h2 {
  margin-bottom: 20px;
  color: #333;
  font-size: 2em;
}

.about-text p {
  font-size: 1em;
  color: #666;
  line-height: 1.6;
}

/* ...end of about css... */

  
  /* Adaptable to mobile devices */
  @media (max-width: 768px) {
    .about {
      flex-direction: column;
      text-align: center;
    }
    
    .about-img,
    .about-content {
      flex-basis: 100%;
      max-width: 100%;
    }
    
    .about-img {
      margin-bottom: 20px;
    }
    .news-item {
        flex-basis: 100%;
      }

      .service-item {
        flex-basis: 100%;
      }

      .footer-content {
        flex-direction: column;
      }
    
      .footer-nav {
        flex-direction: column;
        align-items: center;
      }

  }
  
  /* ...end of moblile devices css... */
  

  /* ...footer css... */

  .footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 20px 0;
}

.footer-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 1200px;
    margin: auto;
}

.footer-brand {
    margin-bottom: 20px;
}

.footer-logo {
    height: 150px; /* Adjust as needed */
    margin-bottom: 10px;
}

.footer-nav {
    display: flex;
    justify-content: center;
    padding: 0;
    margin-bottom: 20px;
    list-style: none;
}

.footer-nav a {
    color: white;
    text-decoration: none;
    padding: 5px 10px;
}

.footer-nav a:hover {
    text-decoration: underline;
}

.footer-social {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.social-icon {
    display: inline-block;
    padding: 5px 10px;
    margin: 0 5px;
    background-color: #555; /* Or any other color */
    border-radius: 50%;
    text-decoration: none;
    color: white;
    font-size: 16px;
}

.social-icon:hover {
    background-color: #777;
}

.footer-copy {
    font-size: 0.9em;
}

 /* ...end of footer css... */ 




/* Basic style of login form floating layer */
.login-modal {
  display: none; /* Not displayed by default */
  position: fixed; /* Fixed position */
  z-index: 10; /* Make sure it's on top of other elements on the page */
  left: 0;
  top: 0;
  width: 100%; /* Full screen width */
  height: 100%; /* Full screen height */
  background-color: rgba(0, 0, 0, 0.6); /* translucent background */
  display: flex; /* Use flexbox to center content */
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
}

.modal-content {
  background-color: #fff;
  padding: 40px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 90%;
  max-width: 400px; /* max width of modal */
  /* To be compatible with browsers that do not fully support flexbox, add automatic margins */
  margin: auto;
}

/* Other styles... */


/* close button style */
.close-button {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close-button:hover,
.close-button:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}


/* Call to Action Button */
.call-to-action {
  background-color: #ffffff; /* Or any color that matches your website theme */
  color: #333333;
  text-align: center;
  padding: 40px 20px;
}

.cta-content {
  max-width: 800px;
  margin: 0 auto;
}

.call-to-action h2 {
  font-size: 2.5em;
  margin-bottom: 20px;
}

.call-to-action p {
  font-size: 1.2em;
  margin-bottom: 30px;
}

.cta-button {
  display: inline-block;
  padding: 10px 20px;
  background-color: #ffc107; /* Contrast color for visibility */
  color: #333;
  text-decoration: none;
  font-size: 1.2em;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.cta-button:hover {
  background-color: #e0a800; /* Slightly darker on hover for interaction feedback */
}


/*style of iframe*/
iframe {
  margin: 0;
  padding: 0;
  width: 400px;
  height: 200px;
  border: none;
}


