body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: Arial, sans-serif;
}
 
/* Header */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #333;
  color: white;
  padding: 0 20px;
}

.menu-container {
  display: flex;
  justify-content: start;
  flex-grow: 1;
}

.menu {
  display: flex;
  list-style-type: none;
  padding-left: 0;
}

.navbar a, .dropbtn {
  color: white;
  text-decoration: none;
  padding: 14px 20px;
}

.navbar a:hover, .dropdown-content a:hover {
  background-color: #ddd;
  color: black;
}

.logo {
  font-size: 24px;
  font-weight: bold;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content, .submenu-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  color: black;
}

.dropdown-content .submenu {
  position: relative;
}

.submenu-content {
  left: 100%;
  top: 0;
}

.dropdown-content a, .submenu-content a, .subdropbtn {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown:hover .dropdown-content, .submenu:hover .submenu-content {
  display: block;
}

.subdropbtn {
  background: none;
  border: none;
  cursor: pointer;
  outline: none;
  width: 100%;
  text-align: left;
}

.dropbtn {
  background: none;
  border: none;
  cursor: pointer;
  outline: none;
}
  
  .login-button {
    padding: 10px 20px;
    background-color: #5C5C5C;
    color: white;
    text-decoration: none;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .login-button:hover {
    background-color: #777777;
  }

/* Basic style of login form floating layer */
.login-modal {
  display: none; /* Hidden by default */
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4); /* Overlay effect */
  z-index: 2; /* Make sure it's above other elements */
}

.modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  z-index: 3;
}

/* close button style */
.close-button {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close-button:hover,
.close-button:focus {
  color: black;
  cursor: pointer;
}




/* ...hero css... */
.hero {
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.hero-inner {
  color: white;
  padding: 20px;
  max-width: 600px;
}

.hero-inner h1, .hero-inner p {
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.hero h1 {
  font-size: 3rem;
  margin-bottom: 20px;

}

.hero p {
  font-size: 1.5rem;
  margin-bottom: 30px;
}
 
  .btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: #0056b3;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
  }
  
  .btn:hover {
    background-color: #003974;
  }
  
  /* ...end of hero css... */
  

/* ...services css... */

.services {
  background-color: #f9f9f9;
  padding: 40px 20px;
  text-align: center; /* Center aligns the headline */
}

.services-headline {
  margin-bottom: 40px; /* Adjust as needed for spacing */
  /* Additional styling for the headline */
  font-size: 2em;
  color: #333;
}

.services-container {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
  
  .service-item {
    flex-basis: 30%;
    text-align: center;
    margin: 10px;
    padding: 20px;
    background-color: white;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }

  .service-item img {
    max-width: 100%;
    height: 400px;
    display: block;
    margin: 0 auto 20px;
  }
  
  .service-item h2 {
    margin: 0 0 10px 0;
  }
  
  .service-item p {
    color: #666;
  }


/* ...end of services css... */

/* ...processes... */

.how-we-work {
  text-align: center;
  padding: 40px;
  background-color: #f4f4f4;
}

.how-we-work h2 {
  margin-bottom: 30px;
  font-size: 2.5em;
  color: #333;
}

.steps-wrapper {
  display: flex;
  justify-content: space-around;
  align-items: stretch; /* Align items vertically */
}

.step {
  flex-basis: 30%; /* Adjust based on container size */
  height: 180px; /* Fixed height */
  text-align: center;
  padding: 20px;
  margin: 10px;
  border: 1px solid #ddd; /* Visual separation */
  background-color: #fff;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  justify-content: space-between; /* Distribute space evenly */
}

.step h3 {
  color: #333;
  font-size: 1.5em;
  margin-bottom: 10px;
}

.step p {
  font-size: 1em;
  color: #666;
  line-height: 1.4;
}

/* ...processes... */

/* ...about css... */
.about-us {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 40px;
  background-color: #f9f9f9;
}

.about-container {
  max-width: 1200px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.team-photo {
  flex: 1;
  padding-right: 20px; /* Adds some space between image and text */
}

.team-photo img {
  width: 100%;
  height: auto;
  border-radius: 10px; /* Optional: for rounded corners */
}

.about-text {
  flex: 2;
  padding-left: 20px; /* Adds some space between text and image */
}

.about-text h2 {
  margin-bottom: 20px;
  color: #333;
  font-size: 2em;
}

.about-text p {
  font-size: 1em;
  color: #666;
  line-height: 1.6;
}

/* ...end of about css... */

  
  /* Adaptable to mobile devices */
  @media (max-width: 768px) {
    .about {
      flex-direction: column;
      text-align: center;
    }
    
    .about-img,
    .about-content {
      flex-basis: 100%;
      max-width: 100%;
    }
    
    .about-img {
      margin-bottom: 20px;
    }
    .news-item {
        flex-basis: 100%;
      }

      .service-item {
        flex-basis: 100%;
      }

      .footer-content {
        flex-direction: column;
      }
    
      .footer-nav {
        flex-direction: column;
        align-items: center;
      }

  }
  
  /* ...end of moblile devices css... */
  

  /* ...footer css... */

  .footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 20px 0;
}

.footer-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 1200px;
    margin: auto;
}

.footer-brand {
    margin-bottom: 20px;
}

.footer-logo {
    height: 150px; /* Adjust as needed */
    margin-bottom: 10px;
}

.footer-nav {
    display: flex;
    justify-content: center;
    padding: 0;
    margin-bottom: 20px;
    list-style: none;
}

.footer-nav a {
    color: white;
    text-decoration: none;
    padding: 5px 10px;
}

.footer-nav a:hover {
    text-decoration: underline;
}

.footer-social {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.social-icon {
    display: inline-block;
    padding: 5px 10px;
    margin: 0 5px;
    background-color: #555; /* Or any other color */
    border-radius: 50%;
    text-decoration: none;
    color: white;
    font-size: 16px;
}

.social-icon:hover {
    background-color: #777;
}

.footer-copy {
    font-size: 0.9em;
}

 /* ...end of footer css... */ 

/* Call to Action Button */
.call-to-action {
  background-color: #ffffff; /* Or any color that matches your website theme */
  color: #333333;
  text-align: center;
  padding: 40px 20px;
}

.cta-content {
  max-width: 800px;
  margin: 0 auto;
}

.call-to-action h2 {
  font-size: 2.5em;
  margin-bottom: 20px;
}

.call-to-action p {
  font-size: 1.2em;
  margin-bottom: 30px;
}

.cta-button {
  display: inline-block;
  padding: 10px 20px;
  background-color: #ffc107; /* Contrast color for visibility */
  color: #333;
  text-decoration: none;
  font-size: 1.2em;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.cta-button:hover {
  background-color: #e0a800; /* Slightly darker on hover for interaction feedback */
}


/*style of iframe*/
iframe {
  margin: 0;
  padding: 0;
  width: 400px;
  height: 200px;
  border: none;
}

/* About Hero */
.about-hero {
  display: flex;
  align-items: stretch; /* Align items to stretch to the same height */
  justify-content: space-between;
  height: 400px; /* Set a fixed height for the hero section */
  background-color: #f8f8f8;
}

.hero-content {
  flex-basis: 50%; /* Adjusts the width of the content area */
  padding: 40px; /* Padding for the text content */
}

.hero-content h1 {
  font-size: 2.5em;
  color: #333;
  margin-bottom: 15px;
}

.hero-content p {
  font-size: 1.2em;
  color: #666;
}

.hero-image {
  flex-basis: 50%; /* Adjusts the width of the image area */
  overflow: hidden; /* Ensures the image does not spill out of its container */
}

.hero-image img {
  width: 100%;
  height: 100%;
  object-fit: cover; /* Ensures the image covers the full area without stretching */
  border-radius: 0 10px 10px 0; /* Optional: rounded corners on the right side */
}

/* Our Story  */
.our-story { 
  background-color: #f4f4f4; /*Light background for contrast */
  padding: 40px 0;
  text-align: center;
}

.our-story .container {
  max-width: 800px; /* Restricting the width for better readability */
  margin: 0 auto; /* Centering the container */
  padding: 0 20px; /* Padding on smaller screens */
}

.our-story h2 {
  font-size: 2.5em;
  color: #333;
  margin-bottom: 20px;
}

.our-story p {
  font-size: 1.1em;
  color: #666;
  line-height: 1.6;
}

/* Team member pictures */
.team-members {
  background-color: #f9f9f9;
  padding: 40px 0;
  text-align: center;
}

.team-members .container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.team-members h2 {
  font-size: 2.5em;
  margin-bottom: 20px;
}

.team-members p {
  font-size: 1.1em;
  color: #666;
  line-height: 1.6;
  margin-bottom: 40px;
}

.member {
  margin-bottom: 30px;
}

.member img {
  width: 350px; /* Adjust as needed */
  height: 350px; /* Adjust as needed */
  margin-bottom: 20px;
}

.member h3 {
  font-size: 1.5em;
  color: #333;
}

.member p {
  font-size: 1em;
  color: #666;
  text-align: left;
  max-width: 600px;
  margin: auto; /* Centers the text */
}


/* Mission and Vision */
.mission-vision {
  background-color: #fff; /* Choose a color that fits your website's theme */
  padding: 40px 0;
  text-align: center;
}

.mission-vision .container {
  max-width: 1000px; /* Adjust as needed */
  margin: 0 auto;
  padding: 0 20px;
}

.mission-vision h2 {
  font-size: 2.5em;
  color: #333;
  margin-bottom: 30px;
}

.mission, .vision {
  margin-bottom: 20px;
}

.mission h3, .vision h3 {
  font-size: 2em;
  color: #007bff; /* A contrasting color for subheadings */
  margin-bottom: 15px;
}

.mission p, .vision p {
  font-size: 1.1em;
  color: #666;
  line-height: 1.6;
}

/* Contact Form */
.contact-form-section {
  background-color: #f4f4f4; /* Or any color you prefer */
  padding: 40px 0;
  text-align: center;
}

.contact-form-section .container {
  max-width: 600px; /* Adjust as needed */
  margin: 0 auto;
  padding: 0 20px;
}

.contact-form-section h2 {
  margin-bottom: 20px;
  color: #333;
  font-size: 2.5em;
}

.contact-form-section p {
  margin-bottom: 30px;
  color: #666;
  font-size: 1.1em;
}

.form-group {
  margin-bottom: 20px;
  text-align: left;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
}

.form-group input, 
.form-group select, 
.form-group textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

button[type="submit"] {
  background-color: #007bff;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1em;
}

button[type="submit"]:hover {
  background-color: #0056b3;
}

/* Location map */
.location-map {
  padding: 40px 0;
  background-color: #f8f8f8; /* Or any color that fits your design */
  text-align: center;
}

.location-map .map-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.location-map h2 {
  margin-bottom: 20px;
  color: #333;
  font-size: 2.5em;
}

.location-map address {
  font-style: normal;
  margin-bottom: 20px;
  color: #666;
}

.google-map iframe {
  width: 100%;
  max-width: 600px;
  height: 450px;
  border: none;
  margin-top: 20px;
}

/* Website Creation Services */
.website-creation-section {
  background-color: #f8f8f8;
  padding: 40px 0;
}

.website-creation-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.website-creation-title {
  font-size: 2.5em;
  color: #333;
  text-align: center;
  margin-bottom: 20px;
}

.website-creation-description {
  font-size: 1.2em;
  color: #666;
  text-align: center;
  margin-bottom: 30px;
}

.services-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* 2 columns */
  grid-gap: 20px; /* Space between grid items */
}

.website-service {
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 20px;
  text-align: center;
}

.service-image {
  width: 100%;
  height: 400px;
  border-radius: 8px;
}

.service-title {
  font-size: 1.8em;
  color: #3e3e3e;
  margin-top: 20px;
}

.service-description {
  font-size: 1em;
  color: #666;
  line-height: 1.4;
}

/* Single Service Page */
.service-hero {
  display: flex;
  align-items: center; /* Align items to stretch to the same height */
  justify-content: space-between;
  padding: 0;
  background-color: #f8f8f8; /* Background color similar to about-hero */
}

.service-hero-image, .service-hero-content {
  flex-basis: 50%; /* Adjusts the width of the content and image area */
}

.service-hero-content {
  padding: 0 20px; /* Padding for the text content */
}

.service-hero-content h1 {
  font-size: 2.5em;
  color: #333;
  margin-bottom: 15px;
}

.service-hero-content p {
  font-size: 1.2em;
  color: #666;
}

.service-hero-image img {
  width: 100%;
  height: auto;
  object-fit: cover; /* Ensures the image covers the full area without stretching */
}

/* Single Service Section */
.website-creation-process-section {
  background-color: #f9f9f9;
  padding: 40px 0;
}

.process-container {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-around; /* Adjust spacing between items */
  flex-wrap: wrap; /* Allows wrapping on smaller screens */
  padding: 0 10px;
}

.process-title {
  font-size: 2.5em;
  color: #333;
  width: 100%;
  margin-bottom: 30px;
  text-align: center;
}

.process-steps-grid {
  display: flex;
  justify-content: center;
  align-items: start;
  width: 100%;
}

.process-step-item {
  flex: 0 0 22%;
  margin: 10px;
  padding: 15px; /* Balanced padding */
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  text-align: left;
  height: 220px; /* Adjusted height for content */
  display: flex;
  flex-direction: column;
  justify-content: space-between; /* Distributes space inside the container */
}

.step-title {
  color: #3e3e3e;
  font-size: 1.5em; /* Adjusted for better fit */
  margin-bottom: 15px;
}

.step-description {
  font-size: 1em; /* Slightly smaller for neat fit */
  color: #666;
  line-height: 1.4;
}
